.grid {
    justify-content: space-between;
}

.grid-item {
    flex-basis: calc(25% - var(--space-small) * 3);
}

@media (min-width: 1300px) {
    .sparse-data-layout {
        justify-content: flex-start;
    }
    .sparse-data-layout .grid-item:first-of-type {
        margin-right: var(--space-large);
    }
    .sparse-data-layout .grid-item {
        flex-basis:25%;
    }
}
@media (max-width: 1300px) {
    .grid-item {
        flex-basis:calc(50% - var(--space-large));
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .grid-item {
        flex-basis: 100%;
    }
}