.highlight-posts {
  align-items: center;
  width: 100%;
  padding-bottom: var(--layout-space-small);
}
.highlight-post {
  height: 850px;
}
.highlight-post > .post {
    align-items: center;
    justify-content: center;
}
.highlight-post > .post > .wrapper {
    position: absolute;
    left: 0;
}
.highlight-post .teaser-text {
  width: 470px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.highlight-post .post-header {
    width: 600px;
}
.post-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
}
.post-sidebar .post {
  cursor: pointer;
}


@media (max-width: 1500px) {
  .highlight-post {
    height: 345px;
    position: relative;
  }
  .highlight-post > .post > .wrapper {
    z-index: 1;
    position: relative;
  }

  .highlight-posts .wrapper img {
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    filter: brightness(50%)
  }
  .highlight-posts.container {
    padding: initial;
  }
}