body {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-body);
	line-height: var(--line-height);
	color: var(--titanium-white);
	font-family: var(--font-family-body);
}

.relative {
	position: relative;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}

.container {
	padding: var(--layout-space-small) 15vw;
}

.basic-columns {
	column-count: 2;
	column-gap: 40px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	color: var(--bronze-boldness);
	line-height: var(--line-height);
	font-family: var(--font-family-header);
	font-weight: var(--font-weight-header);
}

h1,
.h1 {
	font-size: var(--font-size-h1);
}
h2,
.h2 {
	font-size: var(--font-size-h2);
}
h3,
.h3 {
	font-size: var(--font-size-h3);
}
h4,
.h4 {
	font-size: var(--font-size-h4);
}

.w-100 {
	width: 100%;
}
img.w-100 {
	width: 100%;
	height: auto;
}

.m-b-xlarge {
	margin-bottom: var(--space-extra-large);
}

.background-dark {
	background: var(--nightshade);
}

li {
	position: relative;
	padding-left: var(--space-large);
}
li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 15px;
	width: 10px;
	height: 2px;
	background: var(--titanium-white);
}

.fill-height {
	min-height: 100vh;
}

.relative {
	position: relative;
}

@media (max-width: 800px) {
	.basic-columns {
		column-count: 1;
	}
}

@media (max-width: 700px) {
	h1,
	.h1 {
		font-size: calc(var(--font-size-h1) * 0.66);
	}
	h2,
	.h2 {
		font-size: calc(var(--font-size-h2) * 0.66);
	}
	h3,
	.h3 {
		font-size: calc(var(--font-size-h3) * 0.66);
	}
	h4,
	.h4 {
		font-size: calc(var(--font-size-h4) * 0.66);
	}
	.container {
		padding: var(--layout-space-small) 8vw;
	}
}

@media (max-width: 370px) {
	h1,
	.h1 {
		font-size: calc(var(--font-size-h1) * 0.50);
	}
	h2,
	.h2 {
		font-size: calc(var(--font-size-h2) * 0.50);
	}
	h3,
	.h3 {
		font-size: calc(var(--font-size-h3) * 0.50);
	}
	h4,
	.h4 {
		font-size: calc(var(--font-size-h4) * 0.50);
	}
}
