body {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: var(--layout-space-medium);
    padding-top: var(--layout-space-small);
}

h1,h2,h3 {
    color: var(--bronze-boldness);
    font-size: var(--font-size-h1);
    line-height: var(--line-height);
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-header);
}

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }